.task {
  padding: 20px;

  .task-container {
    width: 80%;
    border: 2px solid #cecece;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    border-bottom: 1px solid #cecece;
    font-size: max(14px, 1.5vw);
  }
  .color {
    color: blue;
    font-size: max(13px, 1.75vw);
  }
  .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    font-size: max(13px, 1.75vw);
    border-bottom: 1px solid #cecece;
  }
  .box {
    display: flex;
    padding-right: 10px;
  }
  .colors {
    margin-left: 20px;
    padding: 10px 40px;
    background-color: #444444;
    border: 1px solid #cecece;
    border-radius: 4px;
  }
  .colors1 {
    margin-left: 20px;
    padding: 10px 40px;
    background-color: #ffffff;
    border: 1px solid #cecece;
    border-radius: 4px;
  }
  .colors2 {
    margin-left: 20px;
    padding: 10px 40px;
    background-color: #2072ef;
    border: 1px solid #cecece;
    border-radius: 4px;
  }
  .colors3 {
    margin-left: 20px;
    padding: 10px 40px;
    background-color: #2072ef;
    border: 1px solid #cecece;
    border-radius: 4px;
  }
  .colors4 {
    margin-left: 20px;
    padding: 10px 40px;
    background-color: #0053d1;
    border: 1px solid #cecece;
    border-radius: 4px;
  }
  .p-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    font-size: max(13px, 1.75vw);
    border-bottom: 1px solid #cecece;
  }
  .p-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    font-size: max(13px, 1.75vw);
    border-bottom: 1px solid #cecece;
  }
  .p-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    font-size: max(13px, 1.75vw);
    border-bottom: 1px solid #cecece;
  }
  .p-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    font-size: max(13px, 1.75vw);
    border-bottom: 1px solid #cecece;
  }

  .btn1 {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 40px;
    margin-top: 40px;
  }
  .button-1 {
    width: max(85px, 6vw);
    height: max(40px, 2.5vw);
    border: 1px solid #cecece;
    border-radius: 7px;
    font-size: max(12px, 1vw);
  }
  .button-2 {
    width: max(85px, 6vw);
    height: max(40px, 2.5vw);
    background-color: #2462ff;
    border: 1px solid #cecece;
    border-radius: 7px;
    font-size: max(12px, 1vw);
  }
}
@media (max-width: 900px) {
  .task .task-container {
    width: 80%;
  }
}
@media (max-width: 730px) {
  .task .task-container {
    width: 90%;
  }
}
@media (max-width: 640px) {
  .task .task-container {
    width: 100%;
    margin-left: -20px;
  }
}
@media (max-width: 580px) {
  .task .task-container {
    width: 100%;
  }
}
@media (max-width: 510px) {
  .task .task-container {
    width: 100%;
  }
  .task .body {
    gap: 40px;
  }
  .task .colors {
    padding: 10px 20px;
  }
  .task .colors1 {
    padding: 10px 20px;
  }
  .task .colors2 {
    padding: 10px 20px;
  }
  .task .colors3 {
    padding: 10px 20px;
  }
  .task .colors4 {
    padding: 10px 20px;
  }
  .task .btn1{
    gap: 10px;
  }
  .task .button-1 {
    width: max(55px, 4vw);
    height: max(40px, 2.5vw);
  }
  .task .button-2 {
    width: max(55px, 6vw);
    height: max(40px, 2.5vw);
  }
}
@media (max-width: 470px) {
  .task .task-container {
    width: 110%;
    margin-left: -35px;
  }
}
@media (max-width: 450px) {
  .task .task-container {
    width: 115%;
    margin-left: -45px;
  }
  p {
    width: 40%;
  }
}
@media (max-width: 400px) {
  .task .task-container {
    width: 115%;
    margin-left: -38px;
  }
  p {
    width: 30%;
  }
  .task .color{
    padding-left: 30px;
  }
}
@media (max-width: 350px) {
  .task .task-container {
    width: 120%;
    margin-left: -40px;
  }
  p {
    width: 40%;
  }
 
}
@media (max-width: 335px) {
  .task .task-container {
    width: 130%;
    margin-left: -50px;
  }
}
@media (max-width: 320px) {
  .task .task-container {
    width: 130%;
    margin-left: -48px;
  }
}
@media (max-width: 305px) {
  .task .task-container {
    width: 137%;
    margin-left: -50px;
  }
}
