*{
    margin: 0;
    padding: 0;

    .App{
        padding: 40px;
        justify-content: center;
    }
    .btn{
        width: max(85px, 6vw);
        height: max(40px, 2.5vw);
        background: rgb(189, 179, 193);
        color: white;
        border: none;
        font-size: max(12px,1.25vw);
    }
}