*{
    margin: 0;
    padding: 0;

    .App{
        padding: 40px;
        justify-content: center;
    }
    .btn{
        width: max(85px, 6vw);
        height: max(40px, 2.5vw);
        background: rgb(189, 179, 193);
        color: white;
        border: none;
        font-size: max(12px,1.25vw);
        margin-left:20px;
    }
}

@media (max-width:640px) {
    .btn{
        margin-left: 2px;
    }
}
@media (max-width:470px) {
    .btn{
        margin-left: -13px;
    }
}
@media (max-width:450px) {
    .btn{
        margin-left: -23px;
    }
}
@media (max-width:400px) {
    .btn{
        margin-left: -15px;
    }
}
@media (max-width:335px) {
    .btn{
        margin-left: -25px;
    }
}
