*{
    margin: 0;
    padding: 0;

    .App{
        padding: 40px;
        justify-content: center;
    }
    .btn{
        padding: 10px 20px;
        background: rgb(189, 179, 193);
        color: white;
    }
}